<div class="rounded-lg border-[1px] mt-6 bg-white border-solid border-[#E2E8F0] px-4 py-4 shadow-md shadow-[#3B82F61F] flex flex-col gap-2">
    <img src="../../../assets/farm.jpg" class="w-full h-[139px] rounded-lg 2xl:h-[200px]"/>
    <h1 class="text-[#0F172A] text-[18px] font-bold">კიტრი</h1>
    <p class="text-[#334155] text-[14px]">ძალიან გემრიელი კიტრი</p>
    <h1 class="text-[#0F172A] font-bold text-[20px]">25 $</h1>
    <button class="bg-green-900 text-white rounded py-4" >Add To Cart</button>
</div>
